.tac {
  text-align: center;
}
.order-css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Area {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
.text {
  margin: 0;
}